{% extends 'base.html.twig' %}

{% block title %} Mettre ici l'id du thread {% endblock %}

{% block body %}

<div class="thread">

<div class='titre'> {{ thread.title }}</div>

<div class='corps'>{{ thread.body }}</div>

<a href="">modifier mon thread</a>
{# <a href="{{ path('app_thread_edit') }}">modifier mon thread</a> #}

</div>

<style>

.thread {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 3px solid #d9d9d9;
  margin: 20px;
  border-radius: 30px;
}

.titre {
  border: 3px solid #fff;
  margin: 20px
}

.corps {
  border: 1px solid #000;
  margin: 20px
}

/* a {
  background: #000;
  color: #fff;
} */

</style>
{% endblock %}
