{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<h1>Page d'accueil de ThreadPlon !</h1>

<h3>Avec la liste des threads ajoutés par les utilisateurs</h3>

<input type="button" value="poser une question" id='makeAsk'>

{% endblock %}
