{% extends 'base.html.twig' %}

{% block title %}Hello MardiController!{% endblock %}

{% block body %}

<h1>Page d'accueil de ThreadPlon !</h1>

<h3>Avec la liste des threads ajoutés par les utilisateurs</h3>

<ul>
    {% for thread in threads %}
        <li>
           <a href="{{ path('app_thread_details', {'id': thread.id}) }}">{{ thread.title }} - {{ thread.description }}</a>
        </li>
    {% endfor %} 
</ul>
{% endblock %}
